<div>
	<snap-drawer>
		<div class="snap-menu">
			<div class="sidebar-header text-center">
				<img src="images/flat-avatar.png" alt="" class="sidebar-img img-circle">
			</div>
			<ul class="snap-ul">
				<li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">HOME</a></li>
				<li ng-class="{active: $state.includes('customers')}"><a ui-sref="customers">CUSTOMERS</a></li>
				<li ng-class="{active: $state.includes('products')}"><a ui-sref="products">PRODUCTS</a></li>
				<li><a href="javascript:void(0);" ng-click="logout()">LOGOUT</a></li>
			</ul>
		</div>
	</snap-drawer>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="jumbotron">
			<div class="">
				<h2>Customers</h2>
				<div class="form-group">
 
				<div class="row col-sm-8">
				<div class="form-group">
					<label for="customerSearch">Search Customer:</label>
					<input type="text" class="form-control" id="customerSearch" name="customerSearch" ng-model="customerSearch" placeholder="Name">
				</div>
					<div class="table-responsive">
						<table class="table table-condensed">
							<thead>
								<tr>
									<th>&nbsp;</th>
									<th>Name</th>
									<th>Email</th>
									<th>Cusomer #</th>
									<th>Last access</th>
									<th>Category</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="customer in customers | filter:customerSearch">
									<th><a class="btn btn-info" ui-sref="customerdetail({customerID:customer._id})">Detail</a></th>
									<td>{{customer.profile[0].name}}</td>
									<td>{{customer.profile[0].emailId}}</td>
									<td>{{customer.profile[0].custId}}</td>
									<td>{{customer.profile[0].lastAccess}}</td>
									<td>{{customer.profile[0].category}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</snap-content>	
</div>