<style>
	.panel-transparent {
        background: none;
    }

	/*
    .panel-transparent .panel-heading{
        background: rgba(122, 130, 136, 0.2)!important;
    }*/

    .panel-transparent .panel-body{
        background: rgba(46, 51, 56, 0.2)!important;
    }
</style>
<div>
	<snap-drawer>
		<div class="snap-menu">
			<div class="sidebar-header text-center">
				<img src="images/flat-avatar.png" alt="" class="sidebar-img img-circle">
			</div>
			<ul class="snap-ul">
				<li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">HOME</a></li>
				<li ng-class="{active: $state.includes('customers')}"><a ui-sref="customers">CUSTOMERS</a></li>
				<li ng-class="{active: $state.includes('products')}"><a ui-sref="products">PRODUCTS</a></li>
				<li><a href="javascript:void(0);" ng-click="logout()">LOGOUT</a></li>
			</ul>
		</div>
	</snap-drawer>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="jumbotron">
			<div class="row col-sm-11">
				<div class="col-sm-3">
						<!-- <div style="border:1px solid;">
							<span class="label label-primary">Filters</span>
							<div>
								<span class="label label-primary">Rating:1,2,3,4,5</span><br>
								<span class="label label-primary">Sentiment:+,-,Neutral</span><br>
								<span class="label label-primary">Socail Action</span><br>
							</div>
						</div> -->
						<div class="panel panel-default panel-transparent">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Filters</div>

					  <!-- Table -->
					  <div class="table-responsive ">
						<table class="table">
						  <tbody>
							<tr>
							  <td><b>Rating</b></td>
							  <td>
							  <select name="rating" ng-init="rating='0'" ng-model="rating" class="form-control">
							  <option value="0" ng-selected="true">All</option>
							  <option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							  </select>
							  </td>
							</tr>
							<tr>
							  <td><b>Sentiment</b></td>
							  <td><select  name="sentiment"   ng-init="sentiment=''" ng-model="sentiment" class="form-control">
							  <option value="" ng-selected="true">All</option>
								<option value="+">+</option>
								<option value="-">-</option>
								<option value="Neutral">Neutral</option>
							  </select></td>
							</tr>
							<tr>
							  <td><b>Socail Action</b></td>
							  <td><input class="form-control" type="text" ng-model="socailAction" name="socailAction"></td>
							</tr>
						  </tbody>
						</table>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="panel panel-default panel-transparent">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Customer Profile</div>

					  <!-- Table -->
					  <div class="table-responsive ">
						<table class="table table-inverse">
						  <tbody>
							<tr>
							  <td><b>Name:</b></td>
							  <td>{{customer.profile[0].name}}</td>
							  <td><b>EmailId:</b></td>
							  <td>{{customer.profile[0].emailId}}</td>
							  <td><b>CustomerId:</b></td>
							  <td>{{customer.profile[0].custId}}</td>
							</tr>
							<tr>
							<td><b>category:</b></td>
							<td><span ng-repeat="category in customer.profile[0].category">
								{{category}},
								</span>
							</td>
							<td><b>Last Access:</b></td>
							<td colspan="3">{{customer.profile[0].lastAccess}}</td>
							</tr>
						  </tbody>
						</table>
						</div>
					</div>
					<div class="panel panel-default panel-transparent">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Actions</div>

					  <!-- Table -->
					  <div class="table-responsive ">
						<table class="table table-inverse">
						  <tbody>
							<tr>
							  <td><b>Recommendations:</b></td>
							  <td>{{customer.actions[0].recommendationCount}}</td>
							  <td><b>Cancellations:</b></td>
							  <td>{{customer.actions[0].orderCancellations}}</td>
							  <td><b>complaints:</b></td>
							  <td>{{customer.actions[0].complaints}}</td>
							</tr>
						  </tbody>
						</table>
						</div>
					</div>
					<div ng-repeat="products in customer.products | filter: greaterThan(rating)| filter:equalToCheck(sentiment) | filter:socailAction">
					<div class="panel panel-default panel-transparent">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Product</div>

					  <!-- Table -->
					  <div class="table-responsive ">
						<table class="table table-inverse">
						  <tbody>
							<tr>
							  <td><b>Id:</b></td>
							  <td>{{products.id}}</td>
							  <td><b>BuyDate:</b></td>
							  <td>{{products.buyDate}}</td>
							</tr>
							<tr>
							  <td><b>rating:</b></td>
							  <td>{{products.rating}}</td>
							  <td><b>review:</b></td>
							  <td>{{products.review}}</td>
							</tr>
							<tr>
							  <td><b>tweet:</b></td>
							  <td>{{products.tweet}}</td>
							  <td><b>sentiment:</b></td>
							  <td>{{products.sentiment}}</td>
							</tr>
							<tr>
							<td><b>SocialAction:</b></td>
							<td colspan="3"><span ng-repeat="socialAction in products.SocialAction">
										{{socialAction}},
										</span></td>
							</tr>
						  </tbody>
						</table>
						</div>
					</div>
					</div>
					<div ng-repeat="channelActivity in customer.channelActivity">
					<div class="panel panel-default panel-transparent">

					  <!-- Table -->
					  <div class="table-responsive " ng-repeat="dwell in channelActivity.dwell">
					  <div class="panel panel-default panel-transparent">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Channel Activity - Dwell</div>
					   <table class="table">
						  <tbody>
							<tr>
							  <td><b>Online:</b></td>
							  <td>{{dwell.online}}</td>
							</tr>
							<tr>
							  <td><b>Mobile:</b></td>
							  <td>{{dwell.mobile}}</td>
							</tr>
							<tr>
							  <td><b>Shop:</b></td>
							  <td>{{dwell.shop}}</td>
							</tr>
						  </tbody>
						</table>
					  </div>
					</div>
					<div class="table-responsive" ng-repeat="sale in channelActivity.sale">
					  <div class="panel panel-default panel-transparent">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Channel Activity - sale</div>
					   <table class="table">
						  <tbody>
							<tr>
							  <td><b>Online:</b></td>
							  <td>{{sale.online}}</td>
							</tr>
							<tr>
							  <td><b>Mobile:</b></td>
							  <td>{{sale.mobile}}</td>
							</tr>
							<tr>
							  <td><b>Shop:</b></td>
							  <td>{{sale.shop}}</td>
							</tr>
						  </tbody>
						</table>
					  </div>
					</div>
					<div class="table-responsive " ng-repeat="access in channelActivity.access">
					  <div class="panel panel-default panel-transparent">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Channel Activity - access</div>
					   <table class="table">
						  <tbody>
							<tr>
							  <td><b>Online:</b></td>
							  <td>{{access.online}}</td>
							</tr>
							<tr>
							  <td><b>Mobile:</b></td>
							  <td>{{access.mobile}}</td>
							</tr>
							<tr>
							  <td><b>Shop:</b></td>
							  <td>{{access.shop}}</td>
							</tr>
						  </tbody>
						</table>
					  </div>
					</div>
					
					</div>
					</div>
					<div ng-repeat="orderHistory in customer.orderHistory">
					<div class="panel panel-default panel-transparent">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Order History</div>

					  <!-- Table -->
					  <div class="table-responsive ">
						<table class="table table-inverse">
						  <tbody>
							<tr>
							  <td><b>No of Orders:</b></td>
							  <td>{{orderHistory.orderCount}}</td>
							  <td><b>Total Order Value:</b></td>
							  <td>{{orderHistory.totalOrderValue}}</td>
							  <td><b>Avg Order Value:</b></td>
							  <td>{{orderHistory.avgOrderValue}}</td>
							</tr>
							<tr>
							  <td><b>No of Returns:</b></td>
							  <td>{{orderHistory.returnpercent}}%</td>
							</tr>
						  </tbody>
						</table>
						</div>
					</div>
					</div>
				
						<!--<div style="border:1px solid;">
						<span class="label label-primary">Customer Profile</span>
							<div>
								<span class="label label-primary">Name:</span>{{customer.profile[0].name}}
							</div>
							<div>
								<span class="label label-primary">category:</span>
								<span ng-repeat="category in customer.profile[0].category">
								{{category}},
								</span>
							</div>
							<div>
								<span class="label label-primary">EmailId:</span>{{customer.profile[0].emailId}}
							</div>
							<div>
								<span class="label label-primary">CustomerId:</span>{{customer.profile[0].custId}}
							</div>
							<div>
								<span class="label label-primary">Last Access:</span>{{customer.profile[0].lastAccess}}
							</div>
			
						</div>
						<br/>
						<div style="border:1px solid;">
							<span class="label label-primary">Actions</span>	
								<div>
									<span class="label label-primary">Recommendations:</span>{{customer.actions[0].recommendationCount}}
								</div>
								<div>
									<span class="label label-primary">Cancellations:</span>{{customer.actions[0].orderCancellations}}
								</div>
								<div>
									<span class="label label-primary">complaints:</span>{{customer.actions[0].complaints}}
								</div>
						</div>
						<br/>
						<div style="border:1px solid;">
							<span class="label label-primary">Products</span>	
								<div ng-repeat="products in customer.products">
									<div>
										<span class="label label-primary">Id:</span>{{products.id}}<br/>
										<span class="label label-primary">BuyDate:</span>{{products.buyDate}}<br/>
										<span class="label label-primary">rating:</span>{{products.rating}}<br/>
										<span class="label label-primary">review:</span>{{products.review}}<br/>
										<span class="label label-primary">tweet:</span>{{products.tweet}}<br/>
										<span class="label label-primary">sentiment:</span>{{products.sentiment}}<br/>
										<span class="label label-primary">SocialAction:</span>
										<span ng-repeat="socialAction in products.SocialAction">
										{{socialAction}},
										</span>
									</div><br/>
								</div>
						</div>
						<br/>
						<div style="border:1px solid;">
							<span class="label label-primary">Channel Activity</span>	
								<div ng-repeat="channelActivity in customer.channelActivity" style="border:1px solid;">
									<div ng-repeat="dwell in channelActivity.dwell">
										<span class="label label-primary">Dwell</span>	
										<span class="label label-primary">Online:</span>{{dwell.online}}<br/>
										<span class="label label-primary">Mobile:</span>{{dwell.mobile}}<br/>
										<span class="label label-primary">Shop:</span>{{dwell.shop}}<br/>
									</div><br/>
								</div><br/>
						</div>
						<br/>-->
				</div>
				<div class="col-sm-2">
				<div ng-repeat="address in customer.address">
					<div class="panel panel-default panel-transparent">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Address</div>

					  <!-- Table -->
					  <div class="table-responsive ">
						<table class="table table-inverse">
						  <tbody>
							<tr>
							  <td><b>Type:</b></td>
							  <td>{{address.addressType}}</td>
							</tr>
							<tr>
							<td><b>Address:</b></td>
							  <td>{{address.addressLocal}}</td>
							</tr>
							<tr>
							  <td><b>City:</b></td>
							  <td>{{address.city}}</td>
							</tr>
							<tr>
							  <td><b>State:</b></td>
							  <td>{{address.state}}</td>
							</tr>
							<tr>
							  <td><b>Postcode:</b></td>
							  <td>{{address.postcode}}</td>
							</tr>
						  </tbody>
						</table>
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</snap-content>	
</div>