<div>
	<snap-drawer>
		<div class="snap-menu">
			<div class="sidebar-header text-center">
				<img src="images/flat-avatar.png" alt="" class="sidebar-img img-circle">
			</div>
			<ul class="snap-ul">
				<li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">HOME</a></li>
				<li ng-class="{active: $state.includes('customers')}"><a ui-sref="customers">CUSTOMERS</a></li>
				<li ng-class="{active: $state.includes('products')}"><a ui-sref="products">PRODUCTS</a></li>
				<li><a href="javascript:void(0);" ng-click="logout()">LOGOUT</a></li>
			</ul>
		</div>
	</snap-drawer>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false" class="bg-dark">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="jumbotron">
			<h2>Products</h2>
			<div class="row container">
			<div class="form-group">
					<label for="productSearch">Search Products:</label>
					<input type="text" class="form-control" id="productSearch" name="productSearch" ng-model="productSearch" placeholder="Name">
				</div>
				<div class="table-responsive">
					<table class="table table-condensed">
						<thead>
							<tr>
								<th>&nbsp;</th>
								<th>Name</th>
								<th>Catalog</th>
								<th>Total Order</th>
								<th>Total Review</th>
								<th>Average Rating</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="product in products | filter:productSearch">
								<th><a ui-sref="product-detail({productId: product._id})">Detail</a></th>
								<td>{{product.name}}</td>
								<td>{{product.catalog}}</td>
								<td>{{product.totalNoOfOrders}}</td>
								<td>{{product.reviewCount}}</td>
								<td>{{product.avgRating}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</snap-content>	
</div>