<style>
	.panel-transparent {
        background: none;
    }

	/*
    .panel-transparent .panel-heading{
        background: rgba(122, 130, 136, 0.2)!important;
    }*/

    .panel-transparent .panel-body{
        background: rgba(46, 51, 56, 0.2)!important;
    }
</style>
<div>
	<snap-drawer>
		<div class="snap-menu">
			<div class="sidebar-header text-center">
				<img src="images/flat-avatar.png" alt="" class="sidebar-img img-circle">
			</div>
			<ul class="snap-ul">
				<li ng-class="{active: $state.includes('overview')}"><a ui-sref="overview">HOME</a></li>
				<li ng-class="{active: $state.includes('customers')}"><a ui-sref="customers">CUSTOMERS</a></li>
				<li ng-class="{active: $state.includes('products')}"><a ui-sref="products">PRODUCTS</a></li>
				<li><a href="javascript:void(0);" ng-click="logout()">LOGOUT</a></li>
			</ul>
		</div>
	</snap-drawer>
	<snap-dragger></snap-dragger>
	<snap-content snap-opt-tap-to-close="false">
		<a href="" snap-toggle="left" ng-click="menuOpen = !menuOpen">
			<span class="menutoggle">
				<i ng-hide="menuOpen" class="fa fa-bars fa-2x" ></i>
				<i ng-show="menuOpen" class="fa fa-times fa-2x" ></i>
			</span>
		</a>
		
		<div class="jumbotron">
			<div class="row col-sm-11">
				<div class="col-sm-3">
					<div class="panel panel-default panel-transparent">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Filters</div>
					  <!-- Table -->
						<div class=" ">
						<table class="table">
						  <tbody>
							<tr>
							  <td><b>Rating</b></td>
							  <td>
							  <select class="form-control">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
							  </select>
							  </td>
							</tr>
							<tr>
							  <td><b>Sentiment</b></td>
							  <td><select class="form-control">
								<option value="+">+</option>
								<option value="-">-</option>
								<option value="Neutral">Neutral</option>
							  </select></td>
							</tr>
							<tr>
							  <td><b>Socail Action</b></td>
							  <td><input class="form-control" type="text" name="socailAction"></td>
							</tr>
						  </tbody>
						</table>
						</div>
					</div>
				</div>
				
				
				<div class="col-sm-8" >
				
					<div class="panel panel-default panel-transparent">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Product Profile</div>	
					  
					  <div class="">
						<table class="table table-inverse">
						  <tbody>
							<tr>
							  <th width="15%"><b>Product Id:</b></th>
							  <td>{{products.id}}</td>
							  <th width="20%"><b>Product Desc:</b></th>
							  <td>{{products.desc}}</td>
							  <th width="15%"><b>Catalog:</b></th>
							  <td>{{products.catalog}}</td>
							</tr>
							
							<tr>
							  <th width="15%"><b>Avg price:</b></th>
							  <td>{{products.avgPrice}}</td>
							  <th width="20%"><b>Max price:</b></th>
							  <td>{{products.maxPrice}}</td>
							  <th width="15%"><b>Avg cost:</b></th>
							  <td>{{products.avgCost}}</td>
							</tr>
							
							<tr>
							  <th><b>Total orders:</b></td>
							  <td>{{products.totalNoOfOrders}}</td>
							  <th><b>Total customers:</b></td>
							  <td>0</td>
							  <th><b>Value:</b></td>
							  <td>0</td>
							</tr>
							
						  </tbody>
						</table>
					  </div>
					</div>
					
					<div class="panel panel-default panel-transparent">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Social Action</div>	
					  
					  <div class="">
						<table class="table table-inverse">
						  <tbody>
							<tr>
							  <th width="15%"><b>Avg rating:</b></th>
							  <td>{{products.avgRating}}</td>
							  <th><b>No of rating:</b></th>
							  <td>0</td>
							  <th><b>No of reviews:</b></th>
							  <td>{{products.catalog}}</td>
							</tr>
							
							<tr>
							  <th><b>Twitter messages:</b></td>
							  <td>{{products.socialAction.twitter}}</td>
							  <th><b>Facebook messages:</b></td>
							  <td>{{products.socialAction.fb}}</td>
							  <th><b>Sentiment:</b></td>
							  <td>+</td>
							</tr>
							
						  </tbody>
						</table>
					  </div>
					</div>
					
					<div class="panel panel-default panel-transparent">
					  <!-- Default panel contents -->
					  <div class="panel-heading">Channel Usage</div>	
					  
					  <div class="">
						<table class="table table-inverse">
						  <tbody>
							<tr>
							  <th width="15%"><b>Online:</b></th>
							  <td>{{products.channel[0].online}}</td>
							  <th><b>Mobile:</b></th>
							  <td>{{products.channel[0].mobile}}</td>
							  <th><b>Shop:</b></th>
							  <td>{{products.channel[0].shop}}</td>
							</tr>
						  </tbody>
						</table>
					  </div>
					</div>
				</div>
			</div>
		</div>
	</snap-content>	
</div>