<!--content-->
<div class="content">
    <div class="products-agileinfo">

        <div class="container">

            <div class="product-agileinfo-grids w3l">

                <div class="col-md-3 product-agileinfo-grid">

                    <div class="categories">
                        <ul class="tree-list-pad">
                            <li>
                                <input type="checkbox" id="item-0"/>
                                <label for="item-0"><span></span>Appointment</label>
                                <ul>
                                    <li class="ttx"><input type="radio" class="margin" value="">Instant Booking</li>
                                </ul>
                            </li>

                            <li>
                                <input type="checkbox" id="item-1"/>
                                <label for="item-1"><span></span>Location</label>
                                <ul>
                                    <li class="ttx"><input type="radio" class="margin" value="">Loream Location</li>
                                    <li class="ttx"><input type="radio" class="margin" value="">Loream Location</li>
                                    <li class="ttx"><input type="radio" class="margin" value="">Loream Location</li>
                                    <li class="ttx"><input type="radio" class="margin" value="">Loream Location</li>
                                    <li class="ttx"><input type="radio" class="margin" value="">Loream Location</li>
                                    <li class="ttx"><input type="radio" class="margin" value="">Loream Location</li>
                                    <li class="ttx"><input type="radio" class="margin" value="">Loream Location</li>
                                    <li class="ttx"><input type="radio" class="margin" value="">Loream Location</li>
                                </ul>
                            </li>
                            <li>
                                <input type="checkbox" id="item-2"/>
                                <label for="item-2"><span></span>Availability</label>
                                <ul>
                                    <li class="ttx"><input type="radio" class="margin" ng-model="dayFilter" value="">Any</li>
                                    <li class="ttx"><input type="radio" class="margin" ng-model="dayFilter" value="1">Monday</li>
                                    <li class="ttx"><input type="radio" class="margin" ng-model="dayFilter" value="2">Tueday</li>
                                    <li class="ttx"><input type="radio" class="margin" ng-model="dayFilter" value="3">Wednesday</li>
                                    <li class="ttx"><input type="radio" class="margin" ng-model="dayFilter" value="4">Thurday</li>
                                    <li class="ttx"><input type="radio" class="margin" ng-model="dayFilter" value="5">Friday</li>
                                    <li class="ttx"><input type="radio" class="margin" ng-model="dayFilter" value="6">Saturday</li>
                                    <li class="ttx"><input type="radio" class="margin" ng-model="dayFilter" value="0">Sunday</li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                    <div class="price">
                        <h3>Price Range</h3>
                        <rzslider rz-slider-model="home.slider.minValue"
                                  rz-slider-high="home.slider.maxValue"
                                  rz-slider-options="home.slider.options"></rzslider>

                        <!--<ul class="dropdown-menu6">-->
                        <!--<li>-->
                        <!--<div id="slider-range"></div>-->
                        <!--<input type="text" id="amount" style="border: 0; color: #ffffff; font-weight: normal;" />-->
                        <!--</li>-->
                        <!--</ul>-->
                    </div>


                    <div class="brand-w3l">
                        <h3>Most Searched Localities</h3>
                        <ul>
                            <li><a href="javascript:" ng-click="home.searchByCity('Ahmedabad')">Ahmedabad</a></li>
                            <li><a href="javascript:" ng-click="home.searchByCity('Baroda')">Baroda</a></li>
                            <li><a href="javascript:" ng-click="home.searchByCity('Bhavnagar')">Bhavnagar</a></li>
                            <li><a href="javascript:" ng-click="home.searchByCity('Rajkot')">Rajkot</a></li>
                            <li><a href="javascript:" ng-click="home.searchByCity('Surat')">Surat</a></li>
                            <li><a href="javascript:" ng-click="home.searchByCity('Vapi')">Vapi</a></li>
                            <li><a href="javascript:" ng-click="home.searchByCity('Valsad')">Valsad</a></li>
                        </ul>
                    </div>
                    <div class="cat-img"><img class="img-responsive " src="images/banner.jpg" alt=""></div>
                </div>
                <div class="col-md-9 product-agileinfon-grid1 w3l">

                    <div class="mens-toolbar">
                        <!--<p>Ophthalmologist in {{home.city}}</p>-->
                        <p ng-if="home.keyword!='' && home.doctors.length > 0"><b>'{{home.keyword}}'</b> <span ng-if="home.city!=''"> in {{home.city}}</span></p>
                        <p class="showing" ng-if="home.doctors.length > 0">Sorting By
                            <select ng-model="sortby">
                                <option selected value="firstName"> Name</option>
                                <option value="rating"> Rating</option>
                                <option value="experience"> Exp.</option>
                                <option value="price"> Price</option>
                            </select>
                        </p>
                        <div class="clearfix"></div>
                    </div>

                    <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs" ng-if="home.doctors.length > 0">
                            <ul id="myTab" class="nav nav-tabs left-tab" role="tablist" >
                                <li role="presentation"><a href="#home" target="_self" id="home-tab" role="tab"
                                                           data-toggle="tab" aria-controls="home"
                                                           aria-expanded="true"><img src="images/menu1.png"></a></li>
                                <li role="presentation" class="active"><a href="#profile" target="_self" role="tab"
                                                                          id="profile-tab" data-toggle="tab"
                                                                          aria-controls="profile"><img
                                        src="images/menu.png"></a></li>
                            </ul>
                            <div id="myTabContent" class="tab-content">

                                <!-- Hide panel-->

                                <div role="tabpanel" class="tab-pane fade" id="home" aria-labelledby="home-tab">
                                    <div class="product-tab">
                                        <div ng-repeat="doctor in home.doctors | orderBy:sortby">
                                            <div class="col-md-4 product-tab-grid simpleCart_shelfItem">
                                                <div class="grid-arr">
                                                    <div class="grid-arrival">
                                                        <figure ng-if="doctor.pics.length > 0"><a href="#"
                                                                                                  class="new-gri"
                                                                                                  data-toggle="modal"
                                                                                                  data-target="#myModal1">
                                                            <div class="grid-img" ng-repeat="pic in doctor.pics"><img
                                                                    ng-src="images/{{pic}}" class="img-responsive"
                                                                    alt=""></div>
                                                            <!--<div class="grid-img"> <img  src="images/p5.jpg" class="img-responsive"  alt=""> </div>-->
                                                        </a></figure>
                                                        <figure ng-if="doctor.pics.length <= 0"><a href="#"
                                                                                                   class="new-gri"
                                                                                                   data-toggle="modal"
                                                                                                   data-target="#myModal1">
                                                            <div class="grid-img"><img src="images/no-image.jpg"
                                                                                       class="img-responsive" alt="">
                                                            </div>
                                                        </a></figure>
                                                    </div>
                                                    <div class="block">
                                                        <div class="starbox small ghosting"></div>
                                                    </div>
                                                    <div class="women">
                                                        <h6><a href="#">{{doctor.firstName}} {{doctor.lastName}}</a>
                                                        </h6>
                                                        <span class="size"
                                                              ng-if="home.categories[doctor.speciality].name!=''">
                                                            {{home.categories[doctor.speciality].name}}
                                                        </span>
                                                        <span class="size"
                                                              ng-if="home.categories[doctor.speciality].name==''">
                                                            {{home.doctorsCat[doctor.speciality]}}
                                                        </span>

                                                        <a href="javascript:"
                                                           ng-click="home.getDoctorDetail(doctor._id)"
                                                           data-text="View More" class="my-cart-b item_add">View
                                                            More</a></div>
                                                </div>
                                            </div>
                                            <div class="clearfix" ng-if="$index!=0 && ($index+1)%3==0"></div>
                                        </div>
                                    </div>
                                </div>

                                <!-- active panel-->

                                <div role="tabpanel" class="tab-pane fade in active" id="profile"
                                     aria-labelledby="profile-tab">
                                    <div ng-repeat="doctor in home.doctors | orderBy:sortby">
                                        <div class="product-tab1 prod3">
                                            <div class="col-md-4 product-tab1-grid">
                                                <div class="grid-arr">
                                                    <div class="grid-arrival">
                                                        <figure ng-if="doctor.pics.length > 0"><a href="#"
                                                                                                  class="new-gri"
                                                                                                  data-toggle="modal"
                                                                                                  data-target="#myModal1">
                                                            <div class="grid-img" ng-repeat="pic in doctor.pics"><img
                                                                    ng-src="images/{{pic}}" class="img-responsive"
                                                                    alt=""></div>
                                                            <!--<div class="grid-img"> <img  src="images/p5.jpg" class="img-responsive"  alt=""> </div>-->
                                                        </a></figure>
                                                        <figure ng-if="doctor.pics.length <= 0"><a href="#"
                                                                                                   class="new-gri"
                                                                                                   data-toggle="modal"
                                                                                                   data-target="#myModal1">
                                                            <div class="grid-img"><img src="images/no-image.jpg"
                                                                                       class="img-responsive" alt="">
                                                            </div>
                                                        </a></figure>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-8 product-tab1-grid1 simpleCart_shelfItem">
                                                <div class="block">
                                                    <div class="starbox small ghosting"></div>
                                                </div>
                                                <div class="women">
                                                    <h6><a href="#">{{doctor.firstName}} {{doctor.lastName}}</a></h6>
                                                    <span class="size"
                                                          ng-if="home.categories[doctor.speciality].name!=''">
                                                            {{home.categories[doctor.speciality].name}}
                                                        </span>
                                                    <span class="size"
                                                          ng-if="home.categories[doctor.speciality].name==''">
                                                            {{home.doctorsCat[doctor.speciality]}}
                                                        </span>
                                                    <p>
                                                        <i ng-if="doctor.address" class="glyphicon glyphicon-map-marker"
                                                           aria-hidden="true"></i>{{doctor.address}}<br>
                                                        <i ng-if="doctor.mobile" class="glyphicon glyphicon-earphone" aria-hidden="true"></i>&nbsp;{{doctor.mobile}}<br>
                                                        <i ng-if="doctor.email" class="glyphicon glyphicon-envelope" aria-hidden="true"></i>&nbsp;{{doctor.email}}<br>
                                                        <i ng-if="doctor.fees" class="glyphicon glyphicon-bitcoin" aria-hidden="true"></i>&nbsp;{{doctor.fees}}<br>
                                                        <!--<i class="glyphicon glyphicon-currency" aria-hidden="true"></i>&nbsp;{{doctor.first_consulation}}<br>-->
                                                        <i ng-if="doctor.from_time" class="glyphicon glyphicon-time" aria-hidden="true"></i>&nbsp;{{doctor.from_time}}-{{doctor.to_time}}<br>
                                                        <i ng-if="doctor.availibity" ng-repeat="d in doctor.availibity">&nbsp;
                                                                {{home.getDay(d)}},
                                                        </i>
                                                        <br>
                                                    </p>
                                                    <a href="javascript:" ng-click="home.getDoctorDetail(doctor._id)"
                                                       data-text="View More" class="my-cart-b item_add">View More</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="alert alert-info" ng-if="home.doctors.length == 0">
                        No record found for this search criteria.
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
