<!--<section id="fh5co-hero" >
    &lt;!&ndash;<div class="fh5co-overlay"></div>
    <div class="fh5co-overlay2"></div>&ndash;&gt;
    <div class="container" >
        <div class="fh5co-intro " >
            <div class="fh5co-intro-text">
                <div class="fh5co-left-position">
                    <h2 class="animate-box">FIND AND BOOK</h2>
                    <div class="container tmlft">
                        <div class="col-lg-4">
                            <form action="#" method="post" class="animate-box fadeInUp animated">
                                <span class="licn"><img src="images/map.png"></span>
                                <input type="text" class="form-control" placeholder="Location" g-places-autocomplete id="location" ng-model="home.location">
                            </form>
                        </div>
                        <div class="col-lg-8">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form action="#" method="post" class="animate-box fadeInUp animated">
                                        <span class="dicn"><img src="images/ssearch.png"></span>
                                        <input type="text" class="form-control" placeholder="Specialities, Doctors, Clinics, Hospitals, Labs, Spas and Salons, Gyms and Yoga Centers etc" id="find" name="find">
                                    </form>
                                </div>
                                <div  class="col-lg-2">
                                    <input type="submit" value="Search" class="btn btn-primary" ng-click="home.search()">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<section id="fh5co-projects">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12">
                <div class="card">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"> <a href="#doctor" aria-controls="home" role="tab" data-toggle="tab"> <img src="images/doctor.png"><br>
                            doctor</a> </li>
                        <li role="presentation"> <a href="#diagnostic" aria-controls="profile" role="tab" data-toggle="tab"> <img src="images/labs.png"><br>
                            Diagnostic Labs </a> </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="doctor">
                            <div class="container">
                                <div class="row ">
                                    <div class=" center-block" >
                                        <div style="text-align: center" ng-repeat="doc in home.doctorsCat" class="col-lg-3 col-md-4 col-sm-6 et"><a ui-sref = "index.home.search"  ><img width="82px" height="82px" ng-src="images/{{doc.image}}"> <br>
                                            {{doc.name}}</a> </div>
                                        <!--<div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#" ><img src="images/p2.png"> <br>
                                            Loream Ipuse</a> </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#" ><img src="images/p3.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#" ><img src="images/p4.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p8.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#" ><img src="images/p6.png"> <br>
                                            Loream Ipuse</a> </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#" ><img src="images/p7.png"> <br>
                                            Loream Ipuse</a> </div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#" ><img src="images/p8.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#" ><img src="images/p9.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p10.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p11.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p7.png"> <br>
                                            Loream Ipuse </a></div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="diagnostic">
                            <div class="container">
                                <div class="row ">
                                    <div class=" center-block">
                                        <div ng-repeat="lab in home.labsCat" class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p6.png"> <br>
                                            {{lab.name}} </a></div>
                                        <!--<div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p6.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p6.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p6.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p6.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p6.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p6.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p6.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p6.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p6.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p6.png"> <br>
                                            Loream Ipuse </a></div>
                                        <div class="col-lg-3 col-md-4 col-sm-6 et"><a href="#"><img src="images/p6.png"> <br>
                                            Loream Ipuse </a></div>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>