<section id="fh5co-projects">
    <div class="container">
        <div class="row">
            <div class=" col-lg-12">
                <div class="card">
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"> <a href="#doctor" aria-controls="home" role="tab" data-toggle="tab"> <img src="images/doctor.png"><br>
                            doctor</a> </li>
                        <li role="presentation"> <a href="#diagnostic" aria-controls="profile" role="tab" data-toggle="tab"> <img src="images/labs.png"><br>
                            Diagnostic Labs </a> </li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="doctor">
                            <div class="container">
                                <div class="row ">
                                    <div class=" center-block" >
                                        <div style="text-align: center" ng-repeat="doc in home.doctorsCat" class="col-lg-3 col-md-4 col-sm-6 et">
                                            <a href="javascript:" class="cursor" ng-click="home.searchBySpeciality(doc.categories_id)">
                                                <img ng-click="home.searchBySpeciality(doc.categories_id)" width="82px" height="82px" ng-src="images/{{doc.image}}">
                                                <br>
                                                {{doc.name}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="diagnostic">
                            <div class="container">
                                <div class="row ">
                                    <div class=" center-block">
                                        <div style="text-align: center" ng-repeat="lab in home.labsCat" class="col-lg-3 col-md-4 col-sm-6 et">
                                            <a href="#"><img src="images/p6.png">
                                                <br>
                                            {{lab.name}}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>